.profile-box{
    width: 20rem;
    height: 25rem;

    padding: 1rem;

    border: 1px solid #ccc;
    border-radius: 0.5rem;
    position: relative;
}

.profile-box img{
    border-radius: 100%;

}

/* .image-container {
    position: relative;
    display: inline-block; /* 컨테이너 크기를 이미지 크기에 맞춤 */

.profile-box button{
    position: absolute;
    top: 1rem;
    right: 1rem;
}